.note-container {
    width: 600px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.notebtn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.notebtn:hover {
    background-color: #0056b3;
}

/* this is css for notes list */

.notes-list {
    padding-right: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.notes-list li {
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 600px;
    min-width: 600px;
    word-break: break-word;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-content {
    flex: 1;
}

.notes-list li:hover {
    background-color: white;
    cursor: pointer;
    max-height: none;
}

/* delete button  */

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px
}

.delete-button:hover {
    background-color: #c82333;
}
