<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/headerbuttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/flashmessage.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - My Webpage</title>
</head>
<body>
    <header>
        <div class="logo"></div>
        <div class="header-buttons">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            <a href="/logout">Logout</a>
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
            <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
